<?xml version="1.0" encoding="utf-8"?>
<odoo>
	<data>
		<menuitem name="Card Management" id="card_management_menu" sequence="18" parent="besco_base.menu_master_data" 
			groups="phuclong_cardcode.group_card_code_user,phuclong_cardcode.group_card_code_manager" />
			
    	<menuitem
            id="cardcode_publish_menu"
            name="Publish Card Code"
            parent="card_management_menu"
            action="cardcode_publish_action"
            sequence="1"
            groups="phuclong_cardcode.group_card_code_user,phuclong_cardcode.group_card_code_manager"/>
        
        <menuitem
            id="cardcode_info_menu"
            name="Card Code"
            parent="card_management_menu"
            action="cardcode_info_action"
            sequence="2"
            groups="phuclong_cardcode.group_card_code_user,phuclong_cardcode.group_card_code_manager"/>
            
	</data>
</odoo>