<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <data>
        <menuitem parent="point_of_sale.menu_point_rep" id="menu_action_pos_report_revenue" action="phuclong_pos_theme.action_pos_report_revenue" sequence="10" groups="-point_of_sale.group_pos_manager,phuclong_pos_base.group_store_accounting,besco_pos_base.group_pos_store_manager"/>
        <menuitem parent="point_of_sale.menu_point_rep" id="menu_action_pos_report_date_revenue" action="phuclong_pos_theme.action_pos_report_date_revenue" sequence="11" groups="point_of_sale.group_pos_manager"/>
        <menuitem parent="point_of_sale.menu_point_rep" id="menu_action_report_pos_cancel" action="phuclong_pos_theme.action_report_pos_cancel" sequence="12" groups="phuclong_pos_base.group_store_accounting,phuclong_pos_base.group_pos_store_audit"/>
        <menuitem parent="point_of_sale.menu_point_rep" id="menu_pos_report_queue_output" action="phuclong_pos_theme.pos_report_queue_output_action" sequence="999" groups="phuclong_pos_base.group_store_accounting,besco_pos_base.group_pos_store_manager"/>

        <menuitem parent="point_of_sale.menu_point_config_product" action="pos_report_queue_config_action" id="menu_pos_report_queue_config" groups="base.group_system" sequence="999"/>
    </data>
</odoo>
