<?xml version='1.0' encoding='utf-8'?>
<odoo>
    <data noupdate="0">
        <!-- Add you code here -->
        <record id="crm.crm_menu_root" model="ir.ui.menu">
            <field name="active" eval="False"/>
        </record>
        <record id="sale.sale_menu_root" model="ir.ui.menu">
            <field name="active" eval="False"/>
        </record>
        <record id="stock_barcode.stock_barcode_menu" model="ir.ui.menu">
            <field name="active" eval="False"/>
        </record>
        <record id="account_accountant.menu_accounting" model="ir.ui.menu">
            <field name="active" eval="False"/>
        </record>
    </data>
</odoo>