/* body, * { */
/* 	font-size:16px; */
/* } */
.pos {
	color: black !important
}
.pos-pages .right-side-pos .wrap-handle-selection .wrap-pad-number{
	background-color: #18191A !important;
	background-image: linear-gradient(#DAE8FC, #7EA6E0);
}
.pos-pages .right-side-pos .wrap-handle-selection .wrap-method-promo{
	overflow-y: unset;
}
.pos-pages .right-side-pos .wrap-handle-selection .wrap-method-promo .list-method-promo{
	background-color: #18191A !important;
	background-image: linear-gradient(#DAE8FC, #7EA6E0);
}
.pos-pages .left-side-pos .wrap-detail-bill{
	background-color: #242526 !important;
	background-image: linear-gradient(#DAE8FC, #7EA6E0);
	color: black;
	font-weight: bold !important;
/* 	border-left: 5px solid #18191A; */
/* 	border-right: 5px solid #18191A; */
/* 	border-top: 5px solid #18191A; */
}
.pos-pages .left-side-pos .wrap-detail-customer{
	background-color: #242526 !important;
	background-image: linear-gradient(#DAE8FC, #7EA6E0);
	color: black;
	font-weight: bold !important;
/* 	border-left: 5px solid #18191A; */
/* 	border-right: 5px solid #18191A; */
/* 	border-top: 5px solid #4F4F4F; */
	padding-top:0;
	padding-bottom:0;
}
.list-order {
	background-color: #4B4C4E !important;
	background-image: linear-gradient(#DAE8FC, #7EA6E0);
	color: black;
}
.pos-pages .left-side-pos .content-order .wrap-title{
	background-color: #4F4F4F !important;
/* 	background-image: linear-gradient(#DAE8FC, #7EA6E0); */
	color: black;
}
.pos-pages .left-side-pos .list-order{
	color: black;
	border: 2px solid #18191A;
}
.pos-pages .right-side-pos .wrap-item-product .header-product{
	background-color: #242526 !important;
	background-image: linear-gradient(#DAE8FC, #7EA6E0);
	color: black !important;
}
.pos .breadcrumb-button{
	color: black !important;
	font-weight: bold !important;
	font-size:large;
}
.pos-pages .left-side-pos .wrap-detail-bill .summary-bill{
	color: black;
}
.pos .pos-topheader{
	background-color: #18191A !important;
	background-image: linear-gradient(#DAE8FC, #7EA6E0);
}
.pos .item-info-menu{
	color: black !important;
	font-size: 16px !important;
}
.pos .pos-rightheader{
	color: black !important;
}
.pos .header-menu-right{
	color: black !important;
}
.pos-pages .right-side-pos .wrap-item-product{
	background-color: #164854 !important;
}
.pos-pages .right-side-pos .wrap-item-product .tab-product{
	background-color: #18191A !important;
	background-image: linear-gradient(#DAE8FC, #7EA6E0);
	color: black;
	padding-left: 5px;
	border: none;
}
.subwindow-container-fix.screens{
	background-color: #18191A !important;
	background-image: linear-gradient(#DAE8FC, #7EA6E0);
}
.pos-pages .right-side-pos .wrap-handle-selection .wrap-method-promo .list-method-promo .item-method-promo{
	background-color: #4B4C4E;
	background-image: linear-gradient(#DAE8FC, #7EA6E0);
	color: black;
/* 	box-shadow: 1px 1px 1px 1px #555; */
	border-radius: 4px;
	font-family: "Lato","Lucida Grande", Helvetica, Verdana, Arial !important;
/* 	padding: 17px 0; */
	font-size:20px;
	display: flex;
    align-items: center;
    justify-content: center;
    height: 58px;
/* 	border: solid 2px black; */
}
.wrap-numpad .item{
	background-color: #4B4C4E;
	background-image: linear-gradient(#DAE8FC, #7EA6E0);
	color: black;
/* 	box-shadow: 1px 1px 1px 1px #555; */
	border-radius: 4px;
	font-family: "Lato","Lucida Grande", Helvetica, Verdana, Arial !important;
	font-size:16px;
/* 	border: solid 2px black; */
}
.wrap-numpad .two-row-second .wrap-payment:first-child .item-numpad.del-price span{
	font-size: 20px;
}
.wrap-numpad .two-row-second .wrap-payment:first-child .item-numpad span{
	font-size: 20px;
}
.wrap-numpad .two-row-second .wrap-payment:last-child .colspan2 span{
	color: black !important;
	font-size: 20px;
}
.wrap-numpad .two-row-second .wrap-payment:first-child .item-fast-action span{
	font-size: 20px;
}
.pos .item-fast-action{
	font-size: 20px;
}
.pos .category-simple-button{
	background-color: #4B4C4E;
	background-image: linear-gradient(#D5E8D4, #97D077);
/* 	color: black !important; */
	border: 1px solid #242526 !important;
	font-weight:bold;
	font-size:large;
}
/* .pos-pages .right-side-pos .wrap-item-product .tab-product a{ */
/* 	padding: 6px 15px; */
/* 	margin-right: 2px; */
/* } */
/* .pos-pages .wrap-handle-selection{ */
/* 	padding-top:10px; */
/* } */
.pos.big-scrollbars *::-webkit-scrollbar{
    background-color: #242526 !important;
}
.pos.big-scrollbars *::-webkit-scrollbar-thumb{
	background-color: #242526 !important;
}
.pos.big-scrollbars *::-webkit-scrollbar-button{
    background-color: #18191A;
}
/* .pos-pages .right-side-pos .wrap-item-product .tab-content::-webkit-scrollbar-track { */
/* 	background-color: #4B4C4E !important; */
/* } */
.modal-warning .modal-content .modal-footer button.btn-accept {
    color: #ffffff;
    background-color: #155435; 
}
.modal-selection .modal-footer button {
    background-color: #008A00 !important;
}

.pos-pages.pos-payment-pages .right-side-pos .wrap-item-product .content-payment .form-payment-right .wrap-table-inner .item-form-payment.active {
      background-color: #155435; 
}
.pos-pages.pos-payment-pages .right-side-pos .wrap-item-product .content-payment .form-payment-right .wrap-table-inner .item-form-payment.active .payment {
      border: 1px solid #155435; 
}
.pos-pages.pos-payment-pages .right-side-pos .wrap-handle-selection .wrap-pad-number .wrap-btn-payment .btn-pay {
     background-image: linear-gradient(#D5E8D4, #97D077);
	 color: black;
	 box-shadow: 0px 1px 3px 1px #555;
}
.wrap-numpad .two-row-second .wrap-payment:last-child .colspan2 {
	 background-image: linear-gradient(#D5E8D4, #97D077);
     color: black !important;
}
.pos-pages.pos-infobill-pages .content-bill-info .body-bill .tb-bill tr .btn-print-bill {
      border: 1px solid #155435 !important;
      outline: #155435;
}
.pos-pages .left-side-pos .content-order .wrap-title .type-name{
    background-color: #33FF99;
    color:black;
}
.pos .paymentline.selected .edit{
    color: #00994D !important;
    border: 1px solid #00994D !important;
}
.pos .paymentline.selected{
    background: #00994D !important;
}
.popup.popup-confirm .title,
.popup.popup-textinput .title,
.popup.popup-alert .title,
.popup.popup-selection .title
{
  background: #155435 !important;
}
.popup.popup-confirm .footer .button.confirm,
.popup.popup-textinput .footer .button.confirm{
  background: #155435 !important;
}
.combo-item.combo-actived{
  background: #155435 !important;
  border: 1px solid #155435 !important;
}
.category-actived{
  background: #008A00 !important;
  border: 1px solid #155435 !important;
  color: white !important;
}
.pos .loader-feedback .progressbar > .progress{
  background: #155435 !important;
}
.btn-pay.print-label{
  background:#155435;
}
.item-hightlight{
  background: #00994D !important;
  color: white !important;
}
.pos .highlight_info_pos_bg{
	background: #155435 !important;
}
.pos .highlight_info_pos{
	color: #008A00 !important;
	font-size:18px;
}
.pos .button .re-print-bill{
	background: #155435 !important;
}
.pos .order .orderline.selected{
	background: #1BA1E2 !important;
}
.pos-pages .right-side-pos .wrap-item-product .tab-product.has-nav{
	overflow-x: hidden;
}
.pos-pages.pos-payment-pages .right-side-pos .wrap-handle-selection .wrap-pad-number .list-item-numpad .item-numpad{
	background-color: #4B4C4E;
	color: black;
}
.pos-pages.pos-payment-pages .right-side-pos .wrap-handle-selection .wrap-pad-number .list-item-price .item-price{
	background-color: #4B4C4E;
	background-image: linear-gradient(#DAE8FC, #7EA6E0);
	color: black;
	font-weight: bold;
	box-shadow: 0px 1px 3px 1px #555;
}
.pos-pages.pos-payment-pages .right-side-pos .wrap-handle-selection .wrap-pad-number .list-item-price .item-price span {
	font-size: 17px;
}
.pos-pages.pos-payment-pages .right-side-pos .wrap-item-product .content-payment .method-payment-left{
	background-color: #E1D5E7 !important;
}
.pos-pages.pos-payment-pages .right-side-pos .wrap-item-product .content-payment .method-payment-left .item-selected{
	background-color: #DAE8FC;
	color: black;
	font-weight: bolder;
	border: 1px solid #6C8EBF;
	font-size: 18px;
	padding: 15px 1px;
}
.pos-pages.pos-payment-pages .right-side-pos .wrap-item-product .content-payment .method-payment-left::-webkit-scrollbar-track{
	background-color: #4B4C4E;
}
.pos-pages.pos-payment-pages .right-side-pos .wrap-item-product .header-product .btn-backhome{
	background-color: #005700;
	color: white;
/* 	font-weight: bold; */
}
.pos-pages.pos-payment-pages .right-side-pos .wrap-item-product .header-product{
	background-color: #18191A !important;
	color: white;
}
.pos-pages.pos-payment-pages .right-side-pos .wrap-item-product .header-product h1.title{
	color:black;
}
.payment-screen.pos-pages.pos-payment-pages{
	color:white;
	font-weight: bold;
}
.payment-screen .paymentlines-empty .total{
	color:white;
	text-shadow: 0px 2px #18191A, 0px 2px 2px rgba(0, 0, 0, 0.27)
}
.pos .paymentline{
	background: #DAE8FC;
}
.pos .paymentline > td{
	font-size: 28px;
	font-weight: bolder;
}
.pos .paymentline .col-change.highlight{
	background: #fff0b3 !important;
}
.pos .paymentline .col-due{
	color: black;
}
.pos .paymentline .col-tendered{
	color: black !important;
}
.pos .paymentline.selected .col-tendered{
	color: black !important;
}
.pos .paymentline.selected .col-change{
	color: #000099 !important;
}
.pos .paymentline .col-change{
	color: #000099 !important;
}
.pos .paymentline .col-name{
	color: #0000CC;
	font-size: 21px;
}
.pos-pages .right-side-pos .wrap-header-menu .header-menu-left .wrap-center-menu .active-test{
	font-weight:1000;
}
.pos textarea{
	font-size: 22px;
	font-weight: bold;
}
.pos .popup .button {
	font-size: 16px;
}
.pos .popup input, .pos .popup-input {
    font-weight: bold;
    font-size: 25px;
}
.list-product .item-product .name-product{
	font-weight: 1000;
	font-size: 18px;
}
.popup-ToppingPopupWidget{
	background:#0DA6FF !important;
}
.popup-ToppingPopupWidget .header-top > h5{
	font-size: 30px !important;
	font-weight: bold;
}
.popup-ToppingPopupWidget .header-top .close.button.cancel{
	background:#F1F1F1 !important;
}
.popup-ToppingPopupWidget .modal-header{
	background:#F1F1F1 !important;
}
.modal-selection .wrap-select-option .row-item-option .subtitle{
	font-size: 25px;
}
.modal-selection .wrap-select-option .row-item-option .wrap-selection .item-selection .name-option {
	font-size: 20px;
	font-family: "Lato","Lucida Grande", Helvetica, Verdana, Arial;
	font-weight: bold;
}
.modal-selection .modal-footer .total-payment .subtitle{
	font-size: 23px;
}
.modal-selection .wrap-select-option .modal-footer .total-payment .wrap-amount > p{
	font-size: 23px;
}
.modal-selection .wrap-select-option .row-item-option:not(:last-child) {
    margin-bottom: 2px;
}
.pos .list-topping-header .item-th{
	font-size: 18px;
}
.pos .list-topping-body .item-td{
	font-size: 18px;
}
.pos .total-cash-topping{
	font-size: 18px;
}
.pos-infobill-pages .title-name{
	font-size: 14px !important;
}
.pos-infobill-pages .item-record{
	font-size: 14px !important;
}
.list-order .item-order.combo-done{
	background-color: #339966 !important;
}
.list-order .item-order.combo-done-header{
	background-color: #339966 !important;
}
.pos-pages.pos-payment-pages .right-side-pos .wrap-item-product .content-payment .form-payment-right{
	padding: 0 !important;
}
.pos .paymentlines-container{
	position: relative;
}
.pos .paymentlines{
	position: absolute;
}
.pos .button.highlight.choose-reward-loyalty{
	background-color: #D80073 !important;
/* 	box-shadow: 1px 1px 1px 1px black !important; */
}
/* .pos .history-highlight{ */
/* 	box-shadow: 1px 1px 1px 1px rgba(255,179,0,0.5) !important; */
/* } */
.pos .topping-popup{
	background-image: linear-gradient(#CCE8EB, #0DA6FF) !important;
}
.pos .topping-product-price{
	color: #000099 !important;
	font-family: "Lato","Lucida Grande", Helvetica, Verdana, Arial;
	font-weight: bolder !important;
}
.mycustom-checkbox .checkbox-label::before {
	background: white;
}
.mycustom-radio .radio-label::before {
	background: white;
}
.btn-custom.btn-plus{
	border-radius: 50%;
    background: white;
}
.btn-custom.btn-minus{
	border-radius: 50%;
    background: white;
}
.modal-selection .modal-footer .total-payment .cash{
	font-size: 30px;
	font-family: "Lato","Lucida Grande", Helvetica, Verdana, Arial;
	font-weight: bolder;
}
.list-order .item-order .name-order {
	font-size: 20px; 
}
.list-order .item-order .price-order {
  	font-size: 20px; 
}
.list-order .item-order .wrap-topping-order .amount-product {
    font-size: 20px;
}
.list-order .item-order .wrap-topping-order li{
    font-size: 19px;
    font-weight: bold;
}
.pos-pages .right-side-pos .wrap-header-menu .header-menu-right .name-user{
	font-size: 16px;
}
.pos .list-topping-header .item-th{
	font-size: 25px;
}
.pos .list-topping-body .item-td{
	font-size: 20px !important;
}
.pos .total-cash-topping{
	font-size: 20px !important;
}
.pos .popup.popup-selection .selection-item{
	font-size: 20px;
}
.pos .popup.popup-selection .title span{
	font-size: 20px !important;
}
.pos-pages.pos-payment-pages .right-side-pos .wrap-item-product .content-payment .method-payment-left {
	flex: 0 0 175px;
    max-width: 175px;
}
.list-method-payment img{
	display:none !important;
}
.pos .paymentline > * {
    padding: 8px 4px;
}
.modal-selection .wrap-amount .amount-number{
	padding: 0px;
}
.pos .popup .body.alert{
	font-weight: bold;
	font-size: 29px !important;	
}
.pos .paymentline .col-due, .pos .paymentline .col-tendered, .pos .paymentline .col-change{
	min-width: 50px;
}
