<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <data>
    	<record model="ir.ui.view" id="phuclong_pos_present_config">
            <field name="name">phuclong_pos_present_config</field>
            <field name="model">pos.config</field>
            <field name="inherit_id" ref="besco_pos_base.pos_config_view_form_base" />
            <field name="arch" type="xml">
                <xpath expr="//div[@id='receipt']" position="inside">
                    <div class="col-xs-12 col-md-6 o_setting_box">
                        <div class="o_setting_left_pane">
                            <field name="use_external_display"/>
                        </div>
                        <div class="o_setting_right_pane">
                            <label for="use_external_display"/>
                            <div class="text-muted">
                                Use External Display
                            </div>
                            <div class="content-group mt16" attrs="{'invisible': [('use_external_display', '=', False)]}">
                                <group>
                                    <field name="order_break_timeout"/>
                                </group>
                            </div>
                        </div>
                    </div>
                </xpath>
            </field>
        </record>
    </data>
</odoo>
