<?xml version="1.0" encoding="UTF-8"?>
<odoo>
	<!-- TREE VIEW -->
	<record model="ir.ui.view" id="giftcode_config_view_tree">
		<field name="name">giftcode_config_view_tree</field>
		<field name="model">giftcode.api.config</field>
		<field name="arch" type="xml">
			<tree string="Cardcode Info">
				<field name="name" />
				<field name="brand_id" />
			</tree>
		</field>
	</record>

	<!-- FORM VIEW -->
	<record model="ir.ui.view" id="giftcode_config_view_form">
		<field name="name">giftcode_config_view_form</field>
		<field name="model">giftcode.api.config</field>
		<field name="arch" type="xml">
			<form>
				<sheet>
					<div class="oe_title">
						<label class="oe_edit_only" for="name" string="Name" />
						<h1>
							<field name="name" class="oe_inline" placeholder="Title" />
						</h1>
					</div>
					<group>
						<group>
							<field name="type" required="1" />
							<field name="api_url" />
                            <field name="access_key" />
                            <field name="agent_site" attrs="{'invisible': [('type','!=','urbox')]}"/>
                            <field name="branch_code" attrs="{'invisible': [('type','!=','giftpop')], 'required': [('type','=','giftpop')]}"/>
                            <field name="store_mapping_type" />
                            <field name="pub_key" invisible="1"/>
                            <field name="sec_key" invisible="1"/>
                            <field name="brand_id" attrs="{'invisible': [('store_mapping_type','!=','all2one')], 'required': [('store_mapping_type','=','all2one')]}"/>
                            <field name="store_ids" attrs="{'invisible':[('store_mapping_type','=','all2one')]}">
                          		<tree editable='top' create="false" delete="false">
                          			<field name="store_code" />
                 				  	<field name="store_id" options="{'no_create': True, 'no_open': True, 'no_edit': True}" readonly='1'/>
                  			  		<field name="gifcode_store_id" required="1"/>
                 			  	</tree>
                             </field>
						</group>
					</group>
					<field name="methods">
						<tree editable="top">
							<field name="type" />
							<field name="api_url" />
						</tree>
					</field>
				</sheet>
			</form>
		</field>
	</record>
	
	<record id="view_giftcode_api_response_tree" model="ir.ui.view">
        <field name="name">view_giftcode_api_response_tree</field>
        <field name="model">giftcode.api.response</field>
        <field name="arch" type="xml">
            <tree string="Giftcode API Response Log">
                <field name="create_date"/>
                <field name="order_name"/>
                <field name="giftcode_type"/>
                <field name="type"/>
                <field name="request_string"/>
                <field name="response_string"/>
            </tree>
        </field>
    </record>
    
    <record id="action_giftcode_api_response" model="ir.actions.act_window">
      	<field name="name">Giftcode API Response Log</field>
      	<field name="type">ir.actions.act_window</field>
      	<field name="res_model">giftcode.api.response</field>
     	<field name="view_mode">tree</field>
    </record>

	<record model="ir.actions.act_window" id="action_api">
		<field name="name">Gift Code API Config</field>
		<field name="type">ir.actions.act_window</field>
		<field name="res_model">giftcode.api.config</field>
		<field name="view_mode">tree,form</field>
		<field name="domain">[]</field>
		<field name="context">{}</field>
	</record>
	
</odoo>