<?xml version='1.0' encoding='utf-8'?>
<odoo>
    <data noupdate="0">
        <!-- Add you code here -->
        <!-- This Menu Item Must have a parent -->
        <menuitem id="update_loyalty_menu_categ" name="Update Loyalty" parent="besco_loyalty.menu_base_loyalty" sequence="10" groups="phuclong_loyalty.group_update_loyalty_expired_date,besco_loyalty.group_loyalty_user"/>
        <record id="besco_loyalty.import_point_customer_menu" model="ir.ui.menu">
            <field name="parent_id" ref="phuclong_loyalty.update_loyalty_menu_categ"/>
            <field name="groups_id" eval="[(4, ref('besco_loyalty.group_loyalty_user'))]"/>
        </record>
        <record id="besco_loyalty.menu_base_loyalty" model="ir.ui.menu">
            <field name="groups_id" eval="[(4, ref('phuclong_loyalty.group_update_loyalty_expired_date'))]"/>
        </record>
        <record id="besco_loyalty.menu_loyalty" model="ir.ui.menu">
            <field name="groups_id" eval="[(4, ref('besco_loyalty.group_loyalty_user'))]"/>
        </record>
        <record id="besco_loyalty.menu_loyalty_report" model="ir.ui.menu">
            <field name="groups_id" eval="[(4, ref('besco_loyalty.group_loyalty_user'))]"/>
        </record>
        <record id="besco_loyalty.menu_loyalty_settings" model="ir.ui.menu">
            <field name="groups_id" eval="[(4, ref('besco_loyalty.group_loyalty_user'))]"/>
        </record>
        <!-- This Menu Item must have a parent and an action -->
        <menuitem id="update_loyalty_expired_date_menu_act" parent="update_loyalty_menu_categ" action="update_loyalty_expired_date_action" sequence="50" groups="phuclong_loyalty.group_update_loyalty_expired_date"/>
    </data>
</odoo>