<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <data>
      <menuitem id="besco_promotion.menu_master_promotion" 
            name="Promotion Policies" 
            parent="besco_base.menu_master_data" sequence="20" 
            groups="besco_promotion.group_promotion_manager,phuclong_pos_promo_combo.group_promotion_approval"/>

		  <menuitem id="menu_action_sale_promotion_combo" parent="besco_promotion.menu_master_promotion" 
			  action="action_sale_promotion_combo" sequence="3"/>
      
      <menuitem id="menu_action_day_of_week_config" parent="base.menu_custom" 
			  action="action_day_of_week_config" sequence="3" name="Day of Week Configuration"/>

    </data>
</odoo>
