<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <data>
    	<menuitem
            id="besco_voucher_coupon.menu_voucher_coupon"
            name="Coupon &amp; Voucher"
            groups="besco_voucher_coupon.group_coupon_manager,phuclong_voucher_coupon.group_coupon_voucher_user"
            sequence="23" web_icon="besco_voucher_coupon,static/description/icon.jpg"/>
    
    	<menuitem id="menu_action_report_coupon_voucher_all" 
    		   name="Report"
               parent="besco_voucher_coupon.menu_voucher_coupon"
               sequence="30"/>
               
	   		<menuitem action="besco_voucher_coupon.action_report_coupon_voucher"
	               id="besco_voucher_coupon.menu_action_report_coupon_voucher" 
	               parent="menu_action_report_coupon_voucher_all"
	               groups="besco_voucher_coupon.group_coupon_manager"
	               sequence="10"/>
	               
	        <menuitem action="action_wizard_check_voucher_coupon"
	               id="menu_action_check_coupon_voucher" 
	               parent="menu_action_report_coupon_voucher_all"
	               groups="phuclong_voucher_coupon.group_coupon_voucher_user"
	               sequence="30"/>
    </data>
</odoo>